:root {
	--bg: #222;
}

body {
	background-color: var(--bg);
	margin: 0;
	overflow: hidden;
}

#score-holder {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 16px;
	font-family: Courier;
	color: white;
}

#score {
	font-size: 16px;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid white;
}